@import url("https://fonts.googleapis.com/css?family=Economica&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  font-display: swap;
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  font-display: swap;
  src: url("../../fonts/ProximaNova-Light.eot");
  src: url("../../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Light.woff") format("woff"), url("../../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1249px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: black;
  background-color: white;
  height: 100%;
}

img {
  max-width: 100%;
}

.section {
  z-index: 1;
  margin: auto;
  background-color: white;
  width: 100%;
  padding: 30px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 30px;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.navbar {
  background-color: #23150b;
}

.menu {
  position: relative;
  padding: 12px 20px;
  background-color: white;
  border-bottom: 1px solid #272727;
  -webkit-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-wrap__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrap__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__nav {
  margin-left: 50px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 500px;
  max-width: 500px;
}

.menu__nav_phone {
  width: 100%;
}

.menu-link {
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  position: relative;
}

.menu-link:after {
  content: '';
  height: 100%;
  width: 1px;
  background-color: black;
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
}

.menu-link:hover:after {
  cursor: auto;
}

.menu-link:last-child:after {
  display: none;
}

.menu-link__item {
  color: black;
}

.menu-link__item:hover {
  cursor: pointer;
}

.menu-link__open {
  color: black;
}

.menu-link__close {
  color: black;
}

.menu-info {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.menu__phone {
  color: black;
  margin-bottom: 20px;
}

.menu__phone:hover {
  opacity: 0.7;
}

.menu__email {
  color: black;
  margin-left: 20px;
}

.menu__email:hover {
  opacity: 0.7;
}

.menu-social__link {
  display: inline-block;
  margin-left: 20px;
}

.menu-social__link i {
  color: black;
  font-size: 20px;
}

.menu-social__link:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.menu-social__link:hover .fab:hover {
  opacity: 0.7;
}

.navigation {
  z-index: 100;
  margin: auto;
  width: 100%;
  display: none;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
}

.navigation-menu:hover {
  cursor: pointer;
}

.navigation-menu__item {
  color: black;
}

.navigation-menu-open {
  margin-left: 8px;
  display: block;
}

.navigation-menu-open_active {
  display: none;
}

.navigation-menu-close {
  margin-left: 8px;
  display: none;
}

.navigation-menu-close_active {
  display: block;
}

.navigation-bar {
  display: none;
  position: absolute;
  padding: 20px 20px;
  height: 242px;
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
  -webkit-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.navigation-bar_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.navigation-bar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-bar-block__link {
  font-size: 17px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: black;
}

.navigation-bar-social__link {
  margin-right: 20px;
}

.navigation-bar-social__link i {
  color: black;
  font-size: 17px;
}

.navigation-bar-social__link:hover {
  cursor: pointer;
}

.navigation-bar-social__link:hover .fab:hover {
  opacity: 0.7;
}

.navigation-top {
  padding: 12px 20px;
  z-index: 100;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #272727;
  -webkit-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  width: 17px;
  height: 17px;
  position: relative;
}

.bar {
  padding: 0;
  width: 17px;
  height: 1px;
  background-color: black;
  display: block;
  border-radius: 4px;
  position: absolute;
  -webkit-transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s, -webkit-transform 0.4s ease-in-out 0.4s;
}

.bar1 {
  top: 3px;
}

.bar2 {
  top: 8px;
  width: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 7.5px;
}

.bar3 {
  top: 8px;
  right: 0;
  width: 1px;
  left: 7.5px;
}

.bar4 {
  top: 8px;
  bottom: 0;
}

.bar5 {
  bottom: 3px;
}

.bar1_click {
  top: 7.5px;
  background-color: transparent;
}

.bar2_click {
  left: 0px;
  width: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bar3_click {
  left: 0;
  width: 17px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bar4_click {
  background-color: transparent;
}

.bar5_click {
  bottom: 7.5px;
  background-color: transparent;
}

.logo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  color: black;
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__subtext {
  display: block;
  font-size: 12px;
  color: black;
}

.logo__subtext:before {
  content: '';
  height: 1px;
  width: 45px;
  background-color: rgba(147, 133, 122, 0.7);
  display: block;
  position: absolute;
  top: 43px;
  left: 2px;
}

.logo__subtext:after {
  content: '';
  height: 1px;
  width: 45px;
  background-color: rgba(147, 133, 122, 0.7);
  display: block;
  position: absolute;
  top: 43px;
  right: 2px;
}

.underline {
  color: black;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.underline:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.underline:hover:before {
  width: 100%;
  left: 0;
  background: black;
}

@media (max-width: 1256px) {
  .menu__nav {
    margin-left: 20px;
  }
}

@media (max-width: 1199px) {
  .menu {
    display: none;
  }
  .navigation {
    display: block;
  }
}

@media (max-width: 426px) {
  .logo__text {
    margin-bottom: 0;
    font-size: 25px;
  }
  .logo__subtext:before {
    width: 26px;
    top: 31px;
  }
  .logo__subtext:after {
    width: 26px;
    top: 31px;
  }
  .navigation-top, .navigation-bar {
    padding-left: 4px;
    padding-right: 4px;
  }
  .navigation-menu__item {
    display: none;
  }
  .hamburger {
    width: 25px;
    height: 25px;
    position: relative;
  }
  .bar {
    width: 100%;
    height: 3px;
  }
  .bar1 {
    top: 2px;
  }
  .bar2 {
    top: 10.5px;
    width: 1px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: 10.5px;
  }
  .bar3 {
    top: 10.5px;
    right: 0;
    width: 1px;
    left: 10.5px;
  }
  .bar4 {
    top: 10.5px;
    bottom: 0;
  }
  .bar5 {
    bottom: 2px;
  }
  .bar1_click {
    top: 10.5px;
    background-color: transparent;
  }
  .bar2_click {
    left: 0px;
    width: 25px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .bar3_click {
    left: 0;
    width: 25px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .bar4_click {
    background-color: transparent;
  }
  .bar5_click {
    bottom: 10.5px;
    background-color: transparent;
  }
}

.main {
  background-color: #f6f7f8;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-logo-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-logo-lines__left .main-logo-line:nth-child(2), .main-logo-lines__left .main-logo-line:nth-child(4) {
  margin-right: 30px;
  width: 115px;
}

.main-logo-lines__left .main-logo-line:nth-child(3) {
  margin-right: 50px;
  width: 125px;
}

.main-logo-lines__right .main-logo-line:nth-child(2), .main-logo-lines__right .main-logo-line:nth-child(4) {
  margin-left: 30px;
  width: 115px;
}

.main-logo-lines__right .main-logo-line:nth-child(3) {
  margin-left: 50px;
  width: 125px;
}

.main-logo-line {
  width: 100px;
  height: 4px;
  background-color: #000000;
  margin: 7px 0;
}

.main-logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.main-logo-second {
  width: 188px;
  height: 188px;
  border: 4px solid #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 64px;
  font-family: Roboto;
  font-weight: 00;
  text-transform: uppercase;
  letter-spacing: -1.15px;
}

.main-name {
  margin-top: 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-indent: 12px;
  color: #39383a;
  font-family: Roboto;
  font-weight: 500;
}

.main-description {
  margin-top: 10px;
  letter-spacing: 4px;
  text-indent: 4px;
  position: relative;
}

.main-description:before {
  content: '';
  height: 1px;
  width: 158px;
  background-color: rgba(147, 133, 122, 0.7);
  display: block;
  position: absolute;
  top: 50%;
  left: -157px;
}

.main-description:after {
  content: '';
  height: 1px;
  width: 158px;
  background-color: rgba(147, 133, 122, 0.7);
  display: block;
  position: absolute;
  top: 50%;
  right: -157px;
}

@media (max-width: 571px) {
  .main-logo-lines__left .main-logo-line:nth-child(2), .main-logo-lines__left .main-logo-line:nth-child(4) {
    margin-right: 30px;
    width: 90px;
  }
  .main-logo-lines__left .main-logo-line:nth-child(3) {
    margin-right: 50px;
    width: 105px;
  }
  .main-logo-lines__right .main-logo-line:nth-child(2), .main-logo-lines__right .main-logo-line:nth-child(4) {
    margin-left: 30px;
    width: 90px;
  }
  .main-logo-lines__right .main-logo-line:nth-child(3) {
    margin-left: 50px;
    width: 105px;
  }
  .main-logo-line {
    width: 75px;
    height: 3px;
    margin: 6px 0;
  }
  .main-logo-img {
    width: 150px;
    height: 150px;
    border: 3px solid #000000;
  }
  .main-logo-second {
    width: 142px;
    height: 142px;
    border: 3px solid #000000;
    font-size: 48px;
  }
  .main-name {
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 10px;
    text-indent: 10px;
  }
  .main-description {
    font-size: 12px;
    margin-top: 5px;
    letter-spacing: 2px;
    text-indent: 2px;
  }
  .main-description:before {
    width: 128px;
    left: -129px;
  }
  .main-description:after {
    width: 128px;
    right: -129px;
  }
}

@media (max-width: 481px) {
  .main-logo-lines__left .main-logo-line:nth-child(2), .main-logo-lines__left .main-logo-line:nth-child(4) {
    margin-right: 20x;
    width: 55px;
  }
  .main-logo-lines__left .main-logo-line:nth-child(3) {
    margin-right: 40px;
    width: 60px;
  }
  .main-logo-lines__right .main-logo-line:nth-child(2), .main-logo-lines__right .main-logo-line:nth-child(4) {
    margin-left: 20px;
    width: 55px;
  }
  .main-logo-lines__right .main-logo-line:nth-child(3) {
    margin-left: 40px;
    width: 60px;
  }
  .main-logo-line {
    width: 43px;
    height: 2px;
    margin: 5px 0;
  }
  .main-logo-img {
    width: 90px;
    height: 90px;
    border: 2px solid #000000;
  }
  .main-logo-second {
    width: 82px;
    height: 82px;
    border: 2px solid #000000;
    font-size: 32px;
  }
  .main-name {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 7px;
    text-indent: 7px;
  }
  .main-description {
    font-size: 10px;
  }
  .main-description:before {
    width: 90px;
    left: -91px;
  }
  .main-description:after {
    width: 90px;
    right: -91px;
  }
}

.about {
  background-color: white;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  position: relative;
  width: 220px;
}

.about-logo__image {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 0 3px 5px #777;
          box-shadow: 0 3px 5px #777;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-content {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__subunit_top {
  padding-left: 40px;
}

.about-subunit__title {
  font-size: 16px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.about-subunit__title:before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(147, 133, 122, 0.7);
  margin-bottom: 25px;
}

.about-subunit__title:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(147, 133, 122, 0.7);
  margin-top: 25px;
}

.about-cell {
  position: relative;
  margin: 25px 0;
  padding-left: 30px;
}

.about-cell__title {
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 13px;
}

.about-cell__date {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.about-cell__description {
  font-size: 11px;
  letter-spacing: 0.8px;
  text-align: justify;
}

.about-cell:before {
  position: absolute;
  content: '';
  left: 0;
  top: 2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000000;
}

.about-cell:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-top: 1px dashed rgba(147, 133, 122, 0.7);
  margin-top: 25px;
}

.about-cell:last-child:after {
  display: none;
}

.skills-list__item {
  margin-bottom: 32px;
  color: #39383a;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-list__item:first-child {
  margin-top: 32px;
}

.level {
  width: 267px;
  height: 8px;
  border: 1px solid #898989;
  margin-right: 50px;
  position: relative;
}

.level:before {
  content: '';
  height: 100%;
  background-color: #898989;
  position: absolute;
  left: 0;
  top: 0;
}

.level-90:before {
  width: 90%;
}

.level-80:before {
  width: 80%;
}

.level-65:before {
  width: 65%;
}

.level-60:before {
  width: 60%;
}

.level-50:before {
  width: 50%;
}

.portfolio {
  background-color: #f6f7f8;
}

.services {
  background-color: white;
}

.contacts {
  background-color: #f6f7f8;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 14.2857%;
      flex-basis: 14.2857%;
}

.contacts-item__item {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contacts__image {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
  padding-top: 5px;
}

.contacts__link {
  font-size: 16px;
  color: black;
}

@media (max-width: 1249px) {
  .contacts-item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    margin-bottom: 30px;
  }
  .contacts-item:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .contacts-item {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .contacts-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 576px) {
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__image {
    margin-bottom: 5px;
  }
}

.footer {
  padding: 40px 10px;
  background-color: #000000;
  color: #ffffff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social__logo {
  margin-left: 10px;
  font-size: 24px;
}

.footer-social__logo:hover {
  opacity: 0.7;
}

.footer-adaptive {
  display: none;
}

.footer-adaptive__copy {
  text-align: center;
  color: #767676;
}

.footer-logo {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 38px;
}

.footer-logo-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-logo-lines__left .footer-logo-line:nth-child(2), .footer-logo-lines__left .footer-logo-line:nth-child(4) {
  margin-right: 20px;
  width: 55px;
}

.footer-logo-lines__left .footer-logo-line:nth-child(3) {
  margin-right: 40px;
  width: 60px;
}

.footer-logo-lines__right .footer-logo-line:nth-child(2), .footer-logo-lines__right .footer-logo-line:nth-child(4) {
  margin-left: 20px;
  width: 55px;
}

.footer-logo-lines__right .footer-logo-line:nth-child(3) {
  margin-left: 40px;
  width: 60px;
}

.footer-logo-line {
  width: 43px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px 0;
}

.footer-logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.footer-logo-second {
  width: 82px;
  height: 82px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: -1.15px;
  font-family: serif;
}

.footer a {
  color: #ffffff;
}

.footer__title {
  margin-bottom: 8px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__subtitle {
  display: block;
  margin-bottom: 48px;
}

.footer__copy {
  color: #767676;
}

.footer__contacts {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  text-align: right;
}

.footer__phone {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__phone:hover {
  opacity: 0.7;
}

.footer__mail {
  display: block;
  margin-bottom: 20px;
}

.footer__mail:hover {
  opacity: 0.7;
}

.footer__description {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

@media (max-width: 768px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__contacts {
    text-align: center;
  }
  .footer__copy {
    display: none;
  }
  .footer__subtitle {
    display: block;
    margin-bottom: 20px;
  }
  .footer__pay-logo {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .footer-social__logo {
    margin-left: 0;
    margin: 0 5px 20px 5px;
  }
  .footer-adaptive {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */