body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(60,29,0);
    background-color: peachpuff;
}
h1{
    font-size: 2em;
}
h2{
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    font-size: 1.5em;
    background-color: rgb(255,165,83);
    margin: 20px;
    padding: 40px;
    border-color: rgb(60,29,0);
}
a{
    text-decoration: none;
}
strong{
    font-style: italic;
    text-transform: uppercase;
}
p{
    /*letter-spacing: 0.5em;
    word-spacing: 2em;*/
    line-height: 1.5;
    text-align: left;
    color: black;
}
#top {
    background-color: #ccc;
    padding: 20px
}
.intro {
    color: red;
    font-weight: bold;
}
.thisOtherClass, .yetAnotherClass {
    color: red;
}
a:link {
    color: blue;
}

a:visited {
    color: purple;
}
a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: yellow;
}

input:focus, textarea:focus {
    background: #eee;
}