.about{
    background-color: white;
    &-block{
        display: flex;
        flex-direction: column;
        &__top{
            display: flex;
        }
    }
    &-logo{
        flex-basis: 20%;
        position: relative;
        width: 220px;
        &__image{
            border: 10px solid #fff;
            border-bottom: 45px solid #fff;
            box-shadow: 0 3px 5px #777;
            filter: grayscale(100%); 
        }
    }
    &-content{
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
    }
    &__subunit{
        &_top{
            padding-left: 40px;
        }
    }
    &-subunit{
        &__title{
            font-size: 16px;
            @include bold;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            &:before{
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-color: rgba($light, 0.7);
                margin-bottom: 25px;
            }
            &:after{
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-color: rgba($light, 0.7);
                margin-top: 25px;   
            }
        }
    }
    &-cell{
        position: relative;
        margin: 25px 0;
        padding-left: 30px;
        &__title{
            text-transform: uppercase;
            @include bold;
            font-size: 13px;
        }
        &__date{
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 15px;
            @include bold;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1px;
        }
        &__description{
            font-size: 11px;
            letter-spacing: 0.8px;
            text-align: justify;
        }
        &:before{
            position: absolute;
            content: '';
            left: 0;
            top: 2px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #000000;
        }
        &:after{
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            border-top: 1px dashed rgba($light, 0.7);
            margin-top: 25px;   
        }
        &:last-child:after{
            display: none;
        }
    }
}
.skills-list{
    &__item{
        margin-bottom: 32px;
        color: #39383a;
        font-family: "Open Sans";
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.73px;
        display: flex;
        justify-content: space-between;

        &:first-child{
            margin-top: 32px;
        }
    }
}
.level{
    width: 267px;
    height: 8px;
    border: 1px solid #898989;
    margin-right: 50px;
    position: relative;

    &:before{
        content: '';
        height: 100%;
        background-color: #898989;
        position: absolute;
        left: 0;
        top: 0;
    }
    &-90:before{
        width: 90%;
    }
    &-80:before{
        width: 80%;
    }
    &-65:before{
        width: 65%;
    }
    &-60:before{
        width: 60%;
    }
    &-50:before{
        width: 50%;
    }
}