.about{
    background-color: white;
    &-block{
        display: flex;
        flex-direction: column;
    }
    &__line{
        display: flex;
        justify-content: center;
    }
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        width: 300px;
    }
    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        width: 450px;
        position: relative;
        padding-left: 150px;
        &:before{
            position: absolute;
            left: 68px;
            top: 0;
            content: '';
            height: 14px;
            width: 14px;
            border-radius: 50%;
            background-color: rgb(100, 0, 0);
        }
        &:after{
            position: absolute;
            left: 74px;
            top: 14px;
            content: '';
            height: calc(100% - 14px);
            width: 2px;
            background-color: rgb(100, 0, 0);
        }
    }
    &__date{
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(100, 0, 0);
        font-size: 15px;
        margin-bottom: 15px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 5px;
        letter-spacing: 2px;
    }
    &__sub-title{
        font-size: 14px;
        margin-bottom: 25px;
    }
    &__text{
        font-size: 14px;
        line-height: 1.6;
    }
}
.short-info{
    max-width: 250px;
    &__photo{
        width: 250px;
        height: 250px;
        background: url("../img/about/logo.jpg") no-repeat;
        background-size: 100%;
        filter: grayscale(100%);
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
    &__name{
        text-transform: uppercase;
    }
}
.experience{
    max-width: 250px;
    position: relative;
    padding-left: 7px;
    margin-left: 66.66px;
    &:before{ 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        background-color: black;
    }
    &__header{
        position: relative;
        &:before{ 
            content: '';
            position: absolute;
            top: 0;
            left: -7px;
            height: 100%;
            width: 2px;
            background-color: red;
        }
    }
    &__title{
        text-transform: uppercase;
        @include bold;
    }
    &__subtitle{
        font-size: 13px;
    }
    &__date{
        text-transform: uppercase;
        font-size: 10px;
    }
    &__text{
        margin-top: 10px;
    }
}
.education{
    display: flex;
}
@media (max-width: 1249px){
    .experience{
        margin-left: 20px;
    }
}
@media (max-width: 991px){ 
    .about{
        &-block{
            max-width: 750px;
            margin: auto;
            flex-direction: column;
        }
    }
    .experience{
        margin-left: 0;
        margin-top: 20px;
        &:nth-child(2){
            margin-left: 20px;
        }
    }
}
@media (max-width: 750px){
    .about{
        &-block{
            align-items: center;
        }
        &__line{
            display: block;
        }
        &__right{
            padding: 0;
        }
        &__left{
            width: 450px;
            align-items: flex-start;
            text-align: left;
        }
        &__right:before, &__right:after{
            display: none;
        } 
        &__text{
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 547px){ 
    .about{
        &__right{
            width: 300px;
        }
        &__left{
            width: 300px;
        }
    }
    .experience{
        &:nth-child(2){
            margin-left: 0;
        }
    }
    .education{
        flex-direction: column;
    }
    .short-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}