.footer{
    padding: 40px 10px;
    background-color: #000000;
    color: #ffffff;
    &-block{
        display: flex;
        justify-content: space-between;
    }
    &-social{
        &__logo{
            margin-left: 10px;
            font-size: 24px;
            &:hover{
                opacity: 0.7;
            }
        }
    }
    &-adaptive{
        display: none;
        &__copy{
            text-align: center;
            color: #767676;
        }
    }
    &-logo{
        flex-basis: 33.33%;
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
        &-lines{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &__left{ 
                .footer-logo-line:nth-child(2), .footer-logo-line:nth-child(4){
                    margin-right: 20px;
                    width: 55px;
                }
                .footer-logo-line:nth-child(3){
                    margin-right: 40px;
                    width: 60px;
                }
            }
            &__right{
                .footer-logo-line:nth-child(2), .footer-logo-line:nth-child(4){
                    margin-left: 20px;
                    width: 55px;
                }
                .footer-logo-line:nth-child(3){
                    margin-left: 40px;
                    width: 60px;
                }
            }
        }
        &-line{
            width: 43px;
            height: 2px;
            background-color: #ffffff;
            margin: 5px 0;
        }
        &-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 90px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            
        }
        &-second{
            width: 82px;
            height: 82px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
            text-transform: uppercase;
            letter-spacing: -1.15px;
            font-family: serif;
        }
    }
    a{
        color: #ffffff;
    }
    &__title{
        margin-bottom: 8px;
        font-size: 18px;
        text-transform: uppercase;
        @include bold;
    }
    &__subtitle{
        display: block;
        margin-bottom: 48px;
    }
    &__copy{
        color: #767676;
    }
    &__contacts{
        flex-basis: 33.33%;
        text-align: right;
    }
    &__phone{
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
        @include bold;
        &:hover{
            opacity: 0.7;
        }
    }
    &__mail{
        display: block;
        margin-bottom: 20px;
        &:hover{
            opacity: 0.7;
        }
    }
    &__description{
        flex-basis: 33.33%;
    }
}
@media (max-width: 768px){
    .footer{
        &-block{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__contacts{
            text-align: center;
        }
        &__copy{
            display: none;
        }
        &__subtitle{
            display: block;
            margin-bottom: 20px;
        }
        &__pay{
            &-logo{
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
        &-social{
            &__logo{
                margin-left: 0;
                margin: 0 5px 20px 5px;
            }
        }
        &-adaptive{
            display: block;
        }
    }
}