.main{  
    background-color: $bg-secondary;
    padding: 100px 0;
    &-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-logo{
        display: flex;
        align-items: center;
        &-lines{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &__left{ 
                .main-logo-line:nth-child(1), .main-logo-line:nth-child(5){
                    animation: 5s 0s linear infinite translate-left;
                }
                .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                    margin-right: 60px;
                    width: 230px;
                    animation: 5s 1s linear infinite translate-left;
                }
                .main-logo-line:nth-child(3){
                    margin-right: 100px;
                    width: 250px;
                    animation: 5s 2s linear infinite translate-left;
                }
            }
            &__right{ 
                .main-logo-line:nth-child(1), .main-logo-line:nth-child(5){
                    animation: 5s 0s linear infinite translate-right;
                }
                .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                    margin-left: 60px;
                    width: 230px;
                    animation: 5s 1s linear infinite translate-right;
                }
                .main-logo-line:nth-child(3){
                    margin-left: 100px;
                    width: 250px;
                    animation: 5s 2s linear infinite translate-right;
                }
            }
        }
        &-line{
            width: 200px;
            height: 5px;
            background-color: #000000;
            margin: 10px 0;
        }
        &-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 350px;
            background: linear-gradient(-90deg, rgb(0, 0, 0), rgb(0, 0, 0) 15%, #f6f7f8 15%, #f6f7f8 85%,  rgb(0, 0, 0) 85%); 
            border-radius: 50%;
            animation: 10s linear infinite rotate-right;
        }
        &-second{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 340px;
            height: 340px;
            background-color: #f6f7f8;
            border-radius: 50%;
        }
        &-third{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 336px;
            height: 336px;
            background: linear-gradient(-90deg, #f6f7f8, #f6f7f8 15%, #000000 15%, #000000 85%,  #f6f7f8 85%); 
            border-radius: 50%;
            animation: 10s linear infinite rotate-left;
        }
        &-fourth{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 326px;
            height: 326px;
            background-color: #f6f7f8;
            border-radius: 50%;
            font-size: 120px;
            font-family: Roboto;
            text-transform: uppercase;
            letter-spacing: -1.15px;
            animation: 10s linear infinite rotate-right;
        }
    }
    &-name{
        margin-top: 20px;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 15px;
        text-indent: 15px;
        color: #000000;
        font-family: Roboto;
    }
    &-description{
        font-size: 20px;
        margin-top: 0;
        letter-spacing: 4px;
        text-indent: 4px;
        position: relative;
        color: #000000;        
        &:before{
            content: '';
            height: 1px;
            width: 351px;
            background-color: black;
            display: block;
            position: absolute;
            top: 50%;
            left: -350px;
        }
        &:after{
            content: '';
            height: 1px;
            width: 351px;
            background-color: black;
            display: block;
            position: absolute;
            top: 50%;
            right: -350px;
        }
    }
}

@media (max-width: 1099px){
    .main{
        &-logo{
            &-lines{
                &__left{ 
                    .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                        margin-right: 30px;
                        width: 95px;
                    }
                    .main-logo-line:nth-child(3){
                        margin-right: 50px;
                        width: 110px;
                    }
                }
                &__right{
                    .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                        margin-left: 30px;
                        width: 95px;
                    }
                    .main-logo-line:nth-child(3){
                        margin-left: 50px;
                        width: 110px;
                    }
                }
            }
            &-line{
                width: 85px;
                height: 3px;
                margin: 6px 0;
            }
            &-img{
                width: 200px;
                height: 200px;
            }
            &-second{
                width: 194px;
                height: 194px;
                
            }
            &-third{
                width: 192px;
                height: 192px;
            }
            &-fourth{
                width: 186px;
                height: 186px;
                font-size: 64px;
            }
        }
        &-name{
            margin-top: 15px;
            font-size: 20px;
            letter-spacing: 10px;
            text-indent: 10px;
        }
        &-description{
            font-size: 12px;
            margin-top: 5px;
            letter-spacing: 2px;
            text-indent: 2px;
            &:before{
                width: 159px;
                left: -160px;
            }
            &:after{
                width: 159px;
                right: -160px;
            }
        }
    }
}
@media (max-width: 571px){
    .main{
        &-logo{
            &-lines{
                &__left{ 
                    .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                        margin-right: 30px;
                        width: 90px;
                    }
                    .main-logo-line:nth-child(3){
                        margin-right: 50px;
                        width: 105px;
                    }
                }
                &__right{
                    .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                        margin-left: 30px;
                        width: 90px;
                    }
                    .main-logo-line:nth-child(3){
                        margin-left: 50px;
                        width: 105px;
                    }
                }
            }
            &-line{
                width: 75px;
                height: 3px;
                margin: 6px 0;
            }
            &-img{
                width: 150px;
                height: 150px;
            }
            &-second{
                width: 144px;
                height: 144px;
                
            }
            &-third{
                width: 142px;
                height: 142px;
            }
            &-fourth{
                width: 136px;
                height: 136px;
                font-size: 48px;
            }
        }
        &-name{
            margin-top: 15px;
            font-size: 15px;
            letter-spacing: 10px;
            text-indent: 10px;
        }
        &-description{
            font-size: 12px;
            margin-top: 5px;
            letter-spacing: 2px;
            text-indent: 2px;
            &:before{
                width: 128px;
                left: -129px;
            }
            &:after{
                width: 128px;
                right: -129px;
            }
        }
    }
}
@media (max-width: 481px){
    .main{
        &-logo{
            &-lines{
                &__left{ 
                    .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                        margin-right: 20px;
                        width: 55px;
                    }
                    .main-logo-line:nth-child(3){
                        margin-right: 40px;
                        width: 60px;
                    }
                }
                &__right{
                    .main-logo-line:nth-child(2), .main-logo-line:nth-child(4){
                        margin-left: 20px;
                        width: 55px;
                    }
                    .main-logo-line:nth-child(3){
                        margin-left: 40px;
                        width: 60px;
                    }
                }
            }
            &-line{
                width: 43px;
                height: 2px;
                margin: 5px 0;
            }
            &-img{
                width: 90px;
                height: 90px;
            }
            &-second{
                width: 86px;
                height: 86px;
            }
            &-third{
                width: 84px;
                height: 84px;
            }
            &-fourth{
                width: 80px;
                height: 80px;
                font-size: 32px;
            }
        }
        &-name{
            margin-top: 10px;
            font-size: 12px;
            letter-spacing: 7px;
            text-indent: 7px;
        }
        &-description{
            font-size: 10px;
            &:before{
                width: 90px;
                left: -91px;
            }
            &:after{
                width: 90px;
                right: -91px;
            }
        }
    }
}
@keyframes rotate-right{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotate-left{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}
@keyframes translate-right{
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-3px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes translate-left{
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-3px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0px);
    }
}