.navbar{
    padding: 0;
    border: 0;
    height: 150px;
    background-color: $dark;
    &-wrap{
        display: flex;
        height: 150px;
        align-items: center;
        justify-content: space-between;
    }
    &-info{
        @include bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__phone{
        color: $light;
        margin-bottom: 20px;
    }
    &__email{
        color: $light;
    }
    &-social{
        display: flex;
        justify-content: space-between;
        &__item{
            margin-left: 20px;
            color: $light;
            font-size: 20px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.menu{
    padding: 12px 0;
    background-color: $semi-dark;
    border: 1px solid $light;
    transform: translateY(0);
    opacity: 1;
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &-link{
        border-right: 1px solid $light;
        flex-basis: 20%;
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        &__item{
            color: $text-color;
            &:hover{
                cursor: pointer;
            }
        }
        &:last-child{
            border: none;
        }
    }
}
.logo{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text{
        color: $light;
        display: block;
        margin-bottom: 5px;
        font-size: 48px;
        text-transform: uppercase;
        @include bold;
    }
    &__subtext{
        display: block;
        font-size: 14px;
        color: rgba($light, 0.7);
        &:before{
            content: '';
            height: 1px;
            width: 33%;
            background-color: rgba($light, 0.7);
            display: block;
            position: absolute;
            top: 90%;
            left: 1%;
        }
        &:after{
            content: '';
            height: 1px;
            width: 33%;
            background-color: rgba($light, 0.7);
            display: block;
            position: absolute;
            top: 90%;
            right: 1%;
        }
    }
}
@media (max-width: 768px){
    .menu{
        border-left: none;
        border-right: none;
    }
}
@media (max-width: 670px){ 
    .navbar{
        &__container{
            padding: 0;
        }
        &-info{
            display: none;
        }
        &-social{
            height: 100%;
            flex-basis: 10%;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            &__item{
                position: relative;
                margin: 0;
                font-size: 30px;
                &:after{
                    content: '';
                    height: 1px;
                    width: 120%;
                    background-color: rgba($light, 1);
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: -30%;
                }
            }
        }
        &__logo{
            flex-basis: 90%;
            padding-left: 10%;
        }
    }
    .logo{
        &__text{
            margin-bottom: 5px;
            font-size: 72px;
            text-transform: uppercase;
            @include bold;
        }
        &__subtext{
            font-size: 16px;
            &:before{
                width: 25%;
                top: 92%;
                left: 22.5%;
            }
            &:after{
                width: 25%;
                top: 92%;
                right: 11.5%;
            }
        }
    }
}