.navbar{ 
    background-color: $dark;
}
.menu{
    position: relative;
    padding: 12px 20px;
    background-color: white;
    border-bottom: 1px solid rgb(39, 39, 39);
    box-shadow:  0 5px 4px -4px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;
    &-wrap{
        display: flex;
        justify-content: space-between;
        &__left{
            flex-basis: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &__right{
            flex-basis: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
    &__nav{
        margin-left: 50px;
        flex-basis: 60%;
        display: flex;
        justify-content: space-around;
        min-width: 450px;
        max-width: 450px;
        &_phone{
            width: 100%;
        }
    }
    &-link{
        //border-right: 1px solid $light;
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        position: relative;
        &:after{
            content: '';
            height: 100%;
            width: 1px;
            background-color: black;
            display: block;
            position: absolute;
            top: 0;
            right: -11px;
        }
        &:hover:after{
            cursor: auto;
        }
        &:last-child:after{
            display: none;
        }
        &__item{
            color: black;
            
            &:hover{
                cursor: pointer;
            }
        }
        
        &__open{
            color: black;
        }
        &__close{
            color: black;
        }
    }
    &-info{
        @include bold;
    }
    &__phone{
        color: black;
        margin-bottom: 20px;
    }
    &__email{
        color: black;
        margin-left: 20px;
    }
    &-social{
        &__link{
            margin-left: 20px;
            i{
            color: black;
            font-size: 20px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.navigation{
    margin: auto;
    width: 100%;
    &-menu{
        display: flex;
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        &:hover{
            cursor: pointer;
        }
        &__item{
            color: black;
        }
        &-open{
            margin-left: 8px;
            display: block;
            &_active{
                display: none;
            }
        }
        &-close{
            margin-left: 8px;
            display: none;
            &_active{
                display: block;
            }
        }
    }
    &-bar{
        display: none;
        position: absolute;
        padding: 20px 20px;
        height: 242px;
        width: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        transform: translateY(-200%);
        opacity: 0;
        box-shadow:  0 5px 4px -4px rgba(0, 0, 0, 0.5);
        transition: 0.4s ease-in-out;
        &_active{
            transform: translateY(0);
            opacity: 1;
        }
        &-block{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            &__link{
                font-size: 17px;
                margin-bottom: 20px;
                text-transform: uppercase;
                color: black;
            }
        }
        &-social{
            &__link{
                margin-right: 20px;
                i{
                color: black;
                font-size: 17px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }       
    &-top{
        padding: 12px 20px;
        z-index: 1; 
        position: relative;
        background-color: #ffffff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(39, 39, 39);
        box-shadow:  0 5px 4px -4px rgba(0, 0, 0, 0.5);
        transition: 0.4s ease-in-out;
    }
    display: none;
}
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
.hamburger {
    width: 17px;
    height: 17px;
    position: relative;
}
.bar {
    padding: 0;
    width: 17px;
    height: 1px;
    background-color: black;
    display: block;
    border-radius: 4px;
    position: absolute; 
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    &1{
        top: 3px;
    }
    &2{
        top: 8px;
        width: 1px;
        transform: rotate(90deg);
        left: 7.5px;
    }
    &3{
        top: 8px;
        right: 0;
        width: 1px;
        left: 7.5px;
    }
    &4{
        top: 8px;
        bottom: 0;
    }
    &5{
        bottom: 3px;
    }
}
.bar1_click{
    top: 7.5px;
    background-color: transparent;
}
.bar2_click{
    left: 0px;
    width: 17px;
    transform: rotate(45deg);
}
.bar3_click{
    left: 0;
    width: 17px;
    transform: rotate(-45deg);
}
.bar4_click{
    background-color: transparent;
}
.bar5_click{
    bottom: 7.5px;
    background-color: transparent; 
}
.logo{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text{
        color: black;
        display: block;
        margin-bottom: 5px;
        font-size: 32px;
        text-transform: uppercase;
        @include bold;
    }
    &__subtext{
        display: block;
        font-size: 12px;
        color: rgba(black, 0.7);
        &:before{
            content: '';
            height: 1px;
            width: 29%;
            background-color: rgba($light, 0.7);
            display: block;
            position: absolute;
            top: 88%;
            left: 1%;
        }
        &:after{
            content: '';
            height: 1px;
            width: 29%;
            background-color: rgba($light, 0.7);
            display: block;
            position: absolute;
            top: 88%;
            right: 1%;
        }
    }
}
@media (max-width: 1199px){ 
    .menu{
        display: none;
    }

    .navigation{  
        display: block;
    }
}
@media (max-width: 426px){ 
    .logo{
        &__text{
            margin-bottom: 0;
            font-size: 25px;
        }
        &__subtext{
            display: none;
        }
    }
    .navigation{
        &-top, &-bar{
            padding-left: 0;
            padding-right: 0;
        }
    }
}